# Data
*.tsv
*.csv
*.fasta
*.pickle
*.json
*.tar.gz
*.clstr
*_dump.txt
data/database_dumps/mmseq_tmp/
*.pth
*.info
*cd-hit*.log
*cd-hit*.out
*cd-hit*.restart
*mmseqs*.fasta*
*kinase_results
*logs/*.out

# Python shit
*__pycache__*
*.pyc

# tmp
data/tmp
